<%- include ("../partials/header") %>
<div class="row no-gutters">
  <div class="col-md-2 side-bar">
    <div class="leftside-bar">
      <div style="margin-top: 20%;">
        <div id="logo-container-side"></div>
      </div>
      <ul class="side-bar-list">
        <li class="side-element"><a href="/books">HOME</a></li>
        <li class="side-element"><a href="/books/new">ADD NEW</a></li>
        <li class="side-element"><a href="/logout">LOGOUT</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <div class="rightside-bar">
      <div class="container">
        <h4 class="hello-name">Hello, <%= username %><img class="user-icon" src="https://i.ibb.co/8sS1dMq/Nice-Png-gray-circle-png-1366211.png"></h4>
        <h3> ADD BOOK</h3>
        <div class="new-form-container">
          <form action="/books/new" class="needs-validation" method="POST" novalidate>
            <div class="form-group">
              Book Title
              <input class="form-control new-book-details" type="text" name="book[title]" style="color: white; background-color: #181819;" required />
              <div class="invalid-feedback"> book title is required.</div>
            </div>
            <div class="form-group">
              Image URL
              <input class="form-control new-book-details" type="text" name="book[image]" style="color: white; background-color: #181819;" required />
              <div class="invalid-feedback">image is required.</div>
            </div>
            <div class="form-group">
              Book Author
              <input class="form-control new-book-details" type="text" name="book[author]" style="color: white; background-color: #181819;" required />
              <div class="invalid-feedback">author is required.</div>
            </div>
            <label style="margin-right: 30px;">Category: </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="book[category]"  id="fiction"  value="fiction"  required />
              <label class="form-check-label" for="fiction">Fiction</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="book[category]" id="nonFiction" value="non fiction" />
              <label class="form-check-label" for="nonFiction">Non Fiction</label>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2 price-rating">
                Price
                <input class="form-control new-book-details" type="text" name="book[price]" style="color: white; background-color: #181819;" required />
                <div class="invalid-feedback">price is required.</div>
              </div>
              <div class="form-group col-md-2 price-rating">
                Rating
                <select class="form-control new-book-details" name="book[Ratings]" style="color: white; background-color: #181819;">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <div class="invalid-feedback">rating is required.</div>
              </div>
            </div>
            <div class="form-group">
              About the book
              <textarea class="form-control new-book-details" name="book[about]" rows="5" style="color: white; background-color: #181819;" required  ></textarea>
              <div class="invalid-feedback">  about the book is required.</div>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-lg book-btn">Add Book</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ("../partials/footer") %>


<% /* FORM VALIDATION USING BOOTSTRAP */ %>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
   'use strict';
   window.addEventListener('load', function() {
     // Fetch all the forms we want to apply custom Bootstrap validation styles to
     var forms = document.getElementsByClassName('needs-validation');
     // Loop over them and prevent submission
     var validation = Array.prototype.filter.call(forms, function(form) {
       form.addEventListener('submit', function(event) {
         if (form.checkValidity() === false) {
           event.preventDefault();
           event.stopPropagation();
         }
         form.classList.add('was-validated');
       }, false);
     });
   }, false);
 })();
</script>






  
  
