<%- include("partials/header") %>
<h1>add a friend</h1>
<form action="/addfriends" method="POST">
    <input type="text" name="newname" placeholder="enter name">
    <input type="submit" value="add">
</form>
<%- include("partials/footer") %>
